# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
- repo: https://github.com/commitizen-tools/commitizen
  rev: "v4.10.0"
  hooks:
    - id: commitizen
    - id: commitizen-branch
      stages: [pre-push]
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.30.0
  hooks:
    - id: gitleaks
- repo: https://github.com/DavidAnson/markdownlint-cli2
  rev: v0.20.0
  hooks:
  - id: markdownlint-cli2
- repo: https://github.com/pypa/pip-audit
  rev: v2.10.0
  hooks:
    - id: pip-audit
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.9
  hooks:
    - id: ruff-check
    - id: ruff-format
- repo: https://github.com/PyCQA/bandit
  rev: "1.9.2"
  hooks:
    - id: bandit
- repo: local
  hooks:
    - id: mypy
      name: mypy
      entry: uv run -q --no-sync mypy
      language: system
      types: [python]
      pass_filenames: true

ci:
  # Leave pip-audit to only run locally and not in CI
  # pre-commit.ci does not allow network calls
  skip: [pip-audit]
