name: ci - Mypy type check

on:
  push:
    branches:
        - "main"
    tags:
      - "*"
  pull_request:
    branches:
      - "main"

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/bootstrap
      - run: uv run mypy .
