name: ci - pip-audit security check

on:
  push:
    branches:
        - "main"
    tags:
      - "*"
  pull_request:
    branches:
      - "main"

jobs:
  pip-audit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/bootstrap
      - run: uv run pip-audit
