name: ci - ruff lint

on:
  push:
    branches:
        - "main"
    tags:
      - "*"
  pull_request:
    branches:
      - "main"

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - uses: ./.github/actions/bootstrap
      - run: uv run ruff check
