name: auto - pip-audit security check

on:
  schedule:
    - cron: "0 3 * * 1"
  workflow_dispatch:

jobs:
  pip-audit:
    runs-on: ubuntu-latest

    steps:
      - uses: ./.github/actions/bootstrap
      - run: uv run pip-audit
