name: auto - Updatecli

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: "write"
  pull-requests: "write"
  actions: "write"

jobs:
  updatecli:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6

      - name: Install Updatecli in the runner
        id: updatecli
        uses: updatecli/updatecli-action@v2

      - name: Run Updatecli in apply mode
        run: "updatecli apply --config ./.updatecli"
        env:
          UPDATECLI_GITHUB_USERNAME: "${{ github.actor }}"
          UPDATECLI_GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
