name: auto - pre-commit autoupdate

on:
  schedule:
    - cron: "0 3 * * 1"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  pre-commit-autoupdate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/bootstrap
      - run: uv run pre-commit autoupdate

      - uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "chore: pre-commit autoupdate"
          title: "chore: pre-commit autoupdate"
          branch: "chore/pre-commit-autoupdate"
          body: "Automated update of pre-commit hooks."
